.about-nike-descr{
      width: 700px;
      height: 504px;
      color:#2D2B2C;
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
   }
   
   .about-nike-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 130px;
   }
   
   /* .read-more{
      text-decoration: none;
      color: #EBAAE5;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 36px */
   }   */