body{
   margin: 0;
   padding: 0;
}


.container {
   margin: 45px 160px 0px 160px;
   height: 100vh;
}


header{
   width: 1277px;
   height: 55px;
   display: flex;
   flex-direction: row;
}

.left-links-wrapper{
   width: 305px;
   height: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   
}

.header-link{
   padding-right: 72px;
}
.header-link:last-child{
   padding-right: 0;
}
.right-links-wrapper{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.header {


}